<template>
    <Head title="User List" />

    <BreezeGuestLayout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden sm:rounded-lg">
                    <div class="p-6 bg-white">
                        Users:

                        <ul class="list-disc list-inside">
                            <li v-for="user in users">
                                <span>{{ user.name }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="p-6 bg-white">
                        API Data: {{ api_data }}
                    </div>
                </div>
            </div>
        </div>
    </BreezeGuestLayout>
</template>

<script>
import BreezeGuestLayout from '@/Layouts/Guest.vue'
import { Head } from '@inertiajs/inertia-vue3';

export default {
    components: {
        BreezeGuestLayout,
        Head,
    },
    props: {
        users: Array,
    },
    data() {
        return {
            // Note: This would've gone to SSR if the value
            // hadn't been updated in the "created" method
            api_data: 'It\'s going to be..',
        };
    },
    created() {
        // Note: This goes to SSR
        this.api_data = 'Wait for it..';
    },
    mounted() {
        // Note: The "mounted" method doesn't execute for SSR by design
        fetch('/api/data').then(async (resp) => {
            this.api_data = await resp.text();
        });

        // Read more at: https://ssr.vuejs.org/guide/universal.html
    },
}
</script>
